.collapse{
    border: 1px solid lightgray;
    border-radius: 2vh;
    padding: 2vh;
    height: fit-content;
    cursor: pointer;
    margin-block: 3vh;
    /* transition: .5s ease-in-out; */
}

.collapseHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapseHead p{
    font-size: medium;
    font-weight: 700;
    /* transition: .5s ease-in-out; */
}

.collapseBody{
    margin-top: 3vh;
    /* transition: .5s ease-in-out; */
}